USE [dbPadaria]
GO
/****** Objeto:  Table [dbo].[RecuperacaoSenha]    Data do Script: 15/08/2026 16:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecuperacaoSenha](
	[id_recuperacao] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[id_funcionario] [int] NULL,
	[token] [varchar](255) NOT NULL,
	[data_criacao] [datetime] NULL,
	[data_expiracao] [datetime] NOT NULL,
	[usado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recuperacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecuperacaoSenha] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[RecuperacaoSenha] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [dbo].[RecuperacaoSenha]  WITH CHECK ADD  CONSTRAINT [FK_Recuperacao_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[RecuperacaoSenha] CHECK CONSTRAINT [FK_Recuperacao_Cliente]
GO
ALTER TABLE [dbo].[RecuperacaoSenha]  WITH CHECK ADD  CONSTRAINT [FK_Recuperacao_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[RecuperacaoSenha] CHECK CONSTRAINT [FK_Recuperacao_Funcionario]
GO
