USE [dbPadaria]
GO
/****** Objeto:  Table [dbo].[Pedido]    Data do Script: 15/08/2026 16:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_endereco] [int] NULL,
	[tipo_entrega] [varchar](20) NOT NULL,
	[status_pedido] [varchar](20) NOT NULL,
	[tempo_preparo] [int] NULL,
	[tempo_entrega] [int] NULL,
	[valor_produto] [decimal](10, 2) NULL,
	[taxa_entrega] [decimal](10, 2) NULL,
	[valor_total] [decimal](10, 2) NULL,
	[data_pedido] [datetime] NULL,
	[id_funcionario] [int] NULL,
	[motivo_recusa] [varchar](255) NULL,
	[id_produto_substituto] [int] NULL,
	[id_item_pedido_faltante] [int] NULL,
	[desconto_aplicado] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [data_pedido]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [desconto_aplicado]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([id_endereco])
REFERENCES [dbo].[Endereco] ([id_endereco])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Funcionario]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_ItemFaltante] FOREIGN KEY([id_item_pedido_faltante])
REFERENCES [dbo].[ItemPedido] ([id_item])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_ItemFaltante]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_ProdutoSubstituto] FOREIGN KEY([id_produto_substituto])
REFERENCES [dbo].[Produto] ([id_produto])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_ProdutoSubstituto]
GO
