USE [dbPadaria]
GO
/****** Objeto:  Table [dbo].[Endereco]    Data do Script: 15/08/2026 16:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[id_endereco] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[cep] [varchar](10) NULL,
	[rua] [varchar](100) NULL,
	[numero] [varchar](50) NULL,
	[bairro] [varchar](50) NULL,
	[complemento] [varchar](100) NULL,
	[referencia] [varchar](100) NULL,
	[cidade] [varchar](100) NULL,
	[estado] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_endereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
