USE [dbPadaria]
GO
/****** Objeto:  Table [dbo].[Mensagem]    Data do Script: 15/08/2026 16:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensagem](
	[id_mensagem] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[id_funcionario] [int] NULL,
	[remetente] [varchar](20) NOT NULL,
	[mensagem] [varchar](500) NOT NULL,
	[data_envio] [datetime] NULL,
	[lida] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mensagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mensagem] ADD  DEFAULT (getdate()) FOR [data_envio]
GO
ALTER TABLE [dbo].[Mensagem] ADD  DEFAULT ((0)) FOR [lida]
GO
ALTER TABLE [dbo].[Mensagem]  WITH CHECK ADD  CONSTRAINT [FK_Mensagem_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Mensagem] CHECK CONSTRAINT [FK_Mensagem_Cliente]
GO
ALTER TABLE [dbo].[Mensagem]  WITH CHECK ADD  CONSTRAINT [FK_Mensagem_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[Mensagem] CHECK CONSTRAINT [FK_Mensagem_Funcionario]
GO
ALTER TABLE [dbo].[Mensagem]  WITH CHECK ADD  CONSTRAINT [FK_Mensagem_Pedido] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[Mensagem] CHECK CONSTRAINT [FK_Mensagem_Pedido]
GO
