USE [dbPadaria]
GO
/****** Objeto:  Table [dbo].[Produto]    Data do Script: 15/08/2026 16:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[descricao] [varchar](255) NULL,
	[preco] [decimal](10, 2) NOT NULL,
	[preco_promocional] [decimal](10, 2) NULL,
	[promocao_ativa] [bit] NULL,
	[disponibilidade] [varchar](50) NULL,
	[tempo_preparo] [int] NULL,
	[imagem] [varchar](255) NULL,
	[unidade_venda] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Produto] ADD  DEFAULT ((0)) FOR [promocao_ativa]
GO
ALTER TABLE [dbo].[Produto] ADD  DEFAULT ('unidade') FOR [unidade_venda]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
